@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Categories Section Begin -->
<section class="categories">
    <div class="container">
        <div class="row">
            <div class="categories__slider owl-carousel">
                @Html.Action("SanPhamMoi", "Home")
            </div>
        </div>
    </div>
</section>
<!-- Categories Section End -->
<!-- Featured Section Begin -->
<section class="featured spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <h2>Sản phẩm cập nhật thường xuyên</h2>
                </div>
            </div>
        </div>
        @Html.Action("FullSanPham","Home")
    </div>
</section>
<!-- Featured Section End -->
<!-- Banner Begin -->
<div class="banner">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="banner__pic">
                    <img src="img/banner/banner-1.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="banner__pic">
                    <img src="img/banner/banner-2.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Banner End -->

<script>
    @if (TempData["SweetAlertMessage"] != null)
    {
        <text>
        Swal.fire({
            title: '@TempData["SweetAlertMessage"]',
            icon: '@TempData["SweetAlertType"]',
            showConfirmButton: false,
            timer: 2000
        });
        </text>
    }
</script>