@model KStore.Models.Customer
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="vh-50" style="margin-bottom: 33px">

    <div class="container-fluid h-custom">
        <div class="row d-flex justify-content-center align-items-center h-100">

            <div class="col-md-9 col-lg-6 col-xl-5">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
                     class="img-fluid" alt="Sample image">

            </div>

            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                <h1 class="uppercase mb-0" style="font-weight: bold; text-align: center; padding-bottom: 27px;">ĐĂNG KÝ</h1>
                @using (Html.BeginForm("Register", "Account"))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <!-- Email input -->
                    <div class="form-outline mb-4">
                        <input type="text" class="form-control form-control-lg" name="nameCustomer" id="nameCustomer" value="" required data-validation-error-msg="Họ và tên không được để trống" data-validation="required" />
                        <label class="form-label" for="form3Example3">Họ và tên</label>
                    </div>

                    <!-- Password input -->
                    <div class="form-outline mb-3">
                        <input type="text" class="form-control form-control-lg" name="userName" id="userName" autocomplete="username" value="" required data-validation-error-msg="Tên tài khoản không được để trống" data-validation="required" />

                        <label class="form-label" for="form3Example4">Tên tài khoản</label>
                    </div>
                    <div class="form-outline mb-4">
                        <input class="form-control form-control-lg" type="password" name="Password" id="Password" autocomplete="current-password" required data-validation-error-msg="Mật khẩu không được để trống" data-validation="required" />
                        <label class="form-label" for="form3Example3">Mật khẩu</label>
                    </div>
                    <div class="form-outline mb-4">
                        <input class="form-control form-control-lg" type="password" name="CheckPassword" id="CheckPassword" autocomplete="current-password" required data-validation-error-msg="Không được để trống" data-validation="required" />
                        <label class="form-label" for="form3Example3">Nhập lại mật khẩu</label>
                    </div>
                    <div class="form-outline mb-4">
                        <input class="form-control form-control-lg" type="email" name="email" id="email" required data-validation-error-msg="Email không được để trống" data-validation="required" />
                        <label class="form-label" for="form3Example3">Email</label>
                    </div>
                    <div class="form-outline mb-4">
                        <textarea class="form-control form-control-lg" name="address" id="address" required data-validation-error-msg="Địa chỉ không được để trống" data-validation="required"></textarea>
                        <label class="form-label" for="form3Example3">Địa chỉ</label>
                    </div>
                    <div class="form-outline mb-4">
                        <input class="form-control form-control-lg" type="number" name="phone" id="phone" required data-validation-error-msg="Số điện thoại không được để trống" data-validation="required" />
                        <label class="form-label" for="form3Example3">Số điện thoại</label>
                    </div>

                    <div class="form-outline mb-4">
                        <input class="form-control form-control-lg" type="date" name="birthDay" id="birthDay" required data-validation-error-msg="Ngày sinh không được để trống" data-validation="required" />
                        <label class="form-label" for="form3Example3">Ngày sinh</label>
                    </div>


                    <div class="text-center text-lg-start mt-4 pt-2">
                        <button class="btn btn-primary btn-lg"
                                style="padding-left: 2.5rem; padding-right: 2.5rem;">
                            Đăng ký
                        </button>

                    </div>
                }


            </div>
        </div>
    </div>
</section>
<script>
    @if (TempData["SweetAlertMessage"] != null)
    {
        <text>
        Swal.fire({
            title: '@TempData["SweetAlertMessage"]',
            icon: '@TempData["SweetAlertType"]',
            showConfirmButton: false,
            timer: 2000
        });
        </text>
    }
</script>